<div class="container">
    <p>Listar Pagamentos por cliente</p>   
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Codigo do Cliente</th>
            <th>Nome</th>
            <th>Valor Pago</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let linha of pagamentoClientes">
            <td>{{linha.codigoCliente}}</td>
            <td>{{linha.nome}}</td>
            <td>{{linha.valorPago}}</td>
        </tr>
        </tbody>
    </table>
</div>

