
<p>&nbsp; Incluir Funcionario</p>
<br>
<div class="container">
    <form method="post" #frm="ngForm" (ngSubmit) = "incluir(frm)">
     
        
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome"
            [(ngModel)] = "funcionario.nome" required>
            &nbsp; 
        </div>

        <div class="form-group">
            <label for="salario">Salario: </label>
            <input type="text" name="salario" id="salario" class="form-control" placeholder="Salario"
            [(ngModel)] = "funcionario.salario" required>
            &nbsp; 
        </div>

        <div class="form-group">
            <label for="codigosetor">Codigo do Setor: </label>
            <input type="text" name="codigosetor" id="codigosetor" class="form-control" placeholder="Codigo do Setor"
            [(ngModel)] = "funcionario.codigosetor" required>
            &nbsp; 
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">
            Incluir
        </button>

    </form>
</div>