<div class="container">

    <h1>Lista de veiculos</h1>       

    <div id="demo" class="collapse"></div>
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th>ID:</th>
          <th>Nome:</th>
          <th>Placa:</th>
          <th>Código do Funcionário:</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let veiculo of veiculos">
          <td>{{ veiculo.codigo }}</td>
          <td>{{ veiculo.nome }}</td>
          <td>{{ veiculo.placa }}</td>
          <td>{{ veiculo.codigoFuncionario }}</td>
        </tr>
      </tbody>
      <br><br>
        <td><a class="btn btn-primary" href="#" role="button"> Voltar Principal</a></td>
    </table>
  </div>
