<div class="container">
    <p>Listar Produtos  (Quantidade: {{produtoQuantidade.quantidade}}  )</p>   
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Codigo do Produto:</th>
            <th>Nome:</th>
            <th>Preço:</th>
            <th>Quantidade:</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let produtos of produtos">
            <td>{{produtos.codigo}}</td>
            <td>{{produtos.nome}}</td>
            <td>{{produtos.preco}}</td>
            <td>{{produtos.quantidade}}</td>
        </tr>
        </tbody>
    </table>
</div>

